@font-face {
    font-family: 'vanilla-extract';
    src: url("/static/font/VanillaExtractRegular.ttf");
}

* {
    font-family: 'vanilla-extract';
}

.player-space {
    height: 100vh;
    border: 2px solid black;
}

#countdown {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8em;
}

#timer {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 1em;
    z-index: 3;
}

#timer div {
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(0%, 50%);
    color: white;
    width: 250px;
}

#timer img {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -32%);
    max-width: 250px;
}

.balloon {
    position: absolute;
    z-index: 1;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes FadeAnimation {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.pop-event {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    animation: FadeAnimation 1s ease-in .2s forwards;
}

.character {
    position: absolute;
    top: 59%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#player-1 {
    background-image: url("/static/img/Background/bg1.jpg");
    background-size: contain;
}

#player-2 {
    background-image: url("/static/img/Background/bg2.jpg");
    background-size: contain;
}

#player-3 {
    background-image: url("/static/img/Background/bg3.jpg");
    background-size: contain;
}

.character-score {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 1em;
}

.character-score div {
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(0%, 50%);
    color: white;
    width: 250px;
}

.character-score img {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -32%);
    max-width: 250px;
}