.player-space {
    height: 100vh;
    border: 2px solid black;
}

.balloon {
    position: absolute;
    z-index: 1;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.character {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player-1 {
    background-image: url("/static/img/bg1.jpg");
}

#player-2 {
    background-image: url("/static/img/bg2.jpg");
}

#player-3 {
    background-image: url("/static/img/bg3.jpg");
}