.player-space {
    height: 100vh;
    border: 2px solid black;
}

.balloon {
    position: absolute;
    z-index: 1;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.character {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player-1 {
    background-image: url("/static/img/Background/bg1.jpg");
    background-size: contain;
}

#player-2 {
    background-image: url("/static/img/Background/bg2.jpg");
    background-size: contain;
}

#player-3 {
    background-image: url("/static/img/Background/bg3.jpg");
    background-size: contain;
}